.filmsRow {
  padding: 20px 0px;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  &:hover {
    .col {
      z-index: 5;
    }
  }
}
.col img {
  // la dimensione fissa alle immagine è data per dare uniformita agli elementi
  // width:100% non è sufficiente in quanto tutte le immagini hanno dimensioni leggermente differenti
  transition: transform 0.2s;
  width: 200px;
  height: 320px;

  cursor: pointer;
  @media screen and (max-width: 850px) {
    width: 100%;
    height: auto;
  }
}

.col img:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #282828;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
